<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.human.dao.PositionDao">

    <resultMap type="com.human.model.Position" id="PositionResultMap">
        <id property="positionID" column="positionID" />
        <id property="school_id" column="school_id" />
        <id property="position_name" column="position_name" />
        <id property="positionWage" column="positionWage" />
        <id property="num" column="num" />
        <result property="workPlace" column="workPlace" />
        <association property="company" column="career_talk_id" javaType="com.human.model.Company">
            <!--<id property="id" column="id" />-->
            <!--<id property="career_talk_id" column="career_talk_id" />-->
            <!--<id property="company_id" column="company_id" />-->
            <id property="company_name" column="company_name" />
            <id property="company_logo" column="company_logo" />
            <id property="company_size" column="company_size" />
            <id property="company_address" column="company_address" />
            <!--<id property="setTime" column="setTime" />-->
            <id property="companyType" column="companyType" />
            <result property="companyTrade" column="companyTrade" />
            <!--<id property="companyProfile" column="companyProfile" />-->
        </association>
    </resultMap>


    <resultMap type="com.human.model.Position" id="PositionResultMap_ALL">
        <id property="positionID" column="positionID" />
        <id property="school_id" column="school_id" />
        <id property="career_talk_id" column="career_talk_id" />
        <id property="position_name" column="position_name" />
        <id property="professionals" column="professionals" />
        <id property="jobDescription" column="jobDescription" />
        <id property="positionWage" column="positionWage" />
        <!--<id property="company_logo" column="company_logo" />-->
        <!--<id property="companyType" column="companyType" />-->
        <!--<id property="company_size" column="company_size" />-->
        <id property="num" column="num" />
        <id property="workPlace" column="workPlace" />
        <id property="positionTemptation" column="positionTemptation" />
        <result property="salaryWelfare" column="salaryWelfare" />
        <association property="company" column="career_talk_id" javaType="com.human.model.Company">
            <id property="id" column="id" />
            <id property="career_talk_id" column="career_talk_id" />
            <id property="company_id" column="company_id" />
            <id property="school_id" column="school_id" />
            <id property="company_name" column="company_name" />
            <id property="company_logo" column="company_logo" />
            <id property="company_size" column="company_size" />
            <id property="company_address" column="company_address" />
            <id property="map_link" column="map_link" />
            <id property="image_link" column="image_link" />
            <id property="setTime" column="setTime" />
            <id property="companyType" column="companyType" />
            <id property="companyTrade" column="companyTrade" />
            <id property="companyProfile" column="companyProfile" />
            <result property="companyScore" column="companyScore" />
        </association>

    </resultMap>


    <sql id="Base_Column_List">
		p.positionID,p.position_name,p.positionWage,p.workPlace
	</sql>



    <!-- 查询用户记录总数 -->
    <select id="selectCountBytype" parameterType="Map" resultType="int" >
        <if test="S_ID.toString()=='ALL'.toString()">
            select count(*) from  position
        </if>
        <if test="S_ID.toString()=='position_name'.toString()">
            select count(*) from  position
            where position_name LIKE "%"#{S_Name}"%"
       </if>
        <if test="S_ID.toString()=='career_talk_id'.toString()">
            select count(*) from employment
            where career_talk_id =#{S_Name}
        </if>
        <if test="S_ID.toString()=='workPlace'.toString()">
            select count(*) from  position
            where workPlace LIKE "%"#{S_Name}"%"
        </if>
        <if test="S_ID.toString()=='Professional'.toString()">
            select count(*) from  position
            where professionals LIKE "%"#{S_Name}"%" or professionals like '%不限专业%' or professionals =''
        </if>
        <if test="S_ID.toString()==NULL">
            select count(*) from position
        </if>
	</select>

    <!-- 搜索框查询用户记录总数 -->
    <select id="selectAllCountBytype" parameterType="Map" resultType="int" >
           select count(*)  from  position
        <if test="S_ADDRESS_ID.toString()=='ALL'.toString()">
        <if test="S_Name.toString()!=NULL">
            WHERE position_name LIKE "%"#{S_Name}"%"  or (professionals LIKE "%"#{S_Name}"%")
        </if>
        </if>
        <if test="S_ADDRESS_ID.toString()!='ALL'.toString()">
            where workPlace  LIKE "%"#{S_ADDRESS_ID}"%"
            <if test="S_Name.toString()!=NULL">
                 and (position_name LIKE "%"#{S_Name}"%"  or  (professionals LIKE "%"#{S_Name}"%"))
            </if>
        </if>
    </select>

    <select id="selectAllPositionByType" parameterType="Map" resultMap="PositionResultMap_ALL">
        select *  from  position p,company c
        <if test="S_ADDRESS_ID.toString()=='ALL'.toString()">
            <if test="S_Name.toString()!=NULL">
                WHERE (p.position_name LIKE "%"#{S_Name}"%"  or  (p.professionals LIKE "%"#{S_Name}"%"  ))
                and  c.career_talk_id=p.career_talk_id
            </if>
            <if test="start!=null and size!=null">
                limit #{start},#{size}
            </if>
        </if>
        <if test="S_ADDRESS_ID.toString()!='ALL'.toString()">
            where p.workPlace like  "%"#{S_ADDRESS_ID}"%"
            <if test="S_Name.toString()!=NULL">
                 and (p.position_name LIKE "%"#{S_Name}"%"  or  (p.professionals LIKE "%"#{S_Name}"%" )
                 and  c.career_talk_id=p.career_talk_id)
            </if>
            <if test="start!=null and size!=null">
                limit #{start},#{size}
            </if>
        </if>
    </select>

    <!--p.positionID,p.position_name,p.positionWage,p.workPlace,p.num,c.company_name,c.company_logo,c.company_size,c.company_address,c.companyType-->
    <!--p.positionID,p.school_id,p.position_name,p.positionWage ,p.num, p.workPlace ,c.company_name ,c.company_logo ,c.company_size ,c.company_address,c.companyTrade ,c.companyType-->
    <select id="selectAllPosition" parameterType="Map" resultMap="PositionResultMap_ALL">
        select  * from  position p,company c
        <if test="S_ID.toString()=='Hot'.toString()">
            where  p.career_talk_id=c.career_talk_id
--          order by p.positionWage desc
        </if>
        <if test="S_ID.toString()=='New'.toString()">
            where   p.career_talk_id=c.career_talk_id
--             order by c.company_id
        </if>
        <if test="S_ID.toString()=='Quick'.toString()">
            where   p.career_talk_id=c.career_talk_id
--              order by p.num  desc
        </if>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>



    <select id="selectPositionByType" parameterType="Map" resultMap="PositionResultMap_ALL">
        select *  from  position p,company c
            <if test="S_ID.toString()=='position_name'.toString()">
                where p.position_name LIKE "%"#{S_Name}"%" and
            </if>
            <if test="S_ID.toString()=='Professional'.toString()">
                where  (p.professionals LIKE "%"#{S_Name}"%" or p.professionals like '%不限专业%' or p.professionals ='')  and
            </if>
            <if test="S_ID.toString()==NULL">
                where  c.career_talk_id=p.career_talk_id and c.school_id=p.school_id
            </if>
            <if test="S_ID.toString()!=NULL">
                (c.career_talk_id=p.career_talk_id and c.school_id=p.school_id)
            </if>
            <if test="start!=null and size!=null">
                limit #{start},#{size}
            </if>
    </select>



    <select id="selectPositionById" parameterType="Map" resultMap="PositionResultMap_ALL">
        select  *
        from  position p,company c
        where  c.career_talk_id=p.career_talk_id and c.school_id=p.school_id and positionID= #{position_Id}
    </select>


    <select id="selectPositionToEmail" parameterType="Map" resultMap="PositionResultMap">
        select  MAX(positionID) AS  positionID from  position
       <where>
            <if test="position_name.toString()!=NULL">
            position_name like "%"#{position_name}"%"
            </if>
            <if test="professionals.toString()!=NULL">
            and  professionals like "%"#{professionals}"%"
            </if>
       </where>


    </select>


</mapper>