<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>myssmp</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-mybatis.xml,classpath:spring-shiro.xml,classpath:spring-quartz.xml,classpath:spring-Kaptcha.xml</param-value>
  </context-param>

  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>



  <!--&lt;!&ndash; 解决AJAX跨域访问问题 &ndash;&gt;-->
  <!--<filter>-->
    <!--<filter-name>corsFilter</filter-name>-->
    <!--<filter-class>com.human.Filter.CorsFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>allowOrigin</param-name>-->
      <!--<param-value>*</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowMethods</param-name>-->
      <!--<param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowCredentials</param-name>-->
      <!--<param-value>true</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowHeaders</param-name>-->
      <!--<param-value>Content-Type</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>corsFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

  <!--<filter>-->
    <!--<filter-name>corsFilter</filter-name>-->
    <!--<filter-class>com.human.Filter.CorsFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>allowOrigin</param-name>-->
      <!--<param-value>*</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowMethods</param-name>-->
      <!--<param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowCredentials</param-name>-->
      <!--<param-value>true</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>allowHeaders</param-name>-->
      <!--<param-value>x-requested-with,Authorization,Content-Type</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>corsFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

  <filter>
    <filter-name>cors</filter-name>
    <filter-class>com.human.Filter.SimpleCORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 处理中文乱码 -->

  <filter>

    <filter-name>CharacterEncodingFilter</filter-name>

    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
     <async-supported>true</async-supported>
    <init-param>

      <param-name>encoding</param-name>

      <param-value>UTF-8</param-value>

    </init-param>

  </filter>

  <filter-mapping>

    <filter-name>CharacterEncodingFilter</filter-name>

    <url-pattern>/*</url-pattern>

  </filter-mapping>

  <!-- spring监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- 防止spring内存溢出监听器，比如quartz -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>


  <!-- spring mvc servlet-->
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <!-- 配置由Spring提供的过滤器，用于整合shiro框架 -->
  <!-- 在项目启动的过程中，当前过滤器会从Spring工厂中提取同名对象 -->
  <!-- shiro权限管理-->
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <!-- 此处也可以配置成 *.do 形式 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <absolute-ordering />
  <!--<welcome-file-list>-->
    <!--<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>-->
  <!--</welcome-file-list>-->


  <!--&lt;!&ndash; session配置 &ndash;&gt;-->
  <!--<session-config>-->
    <!--<session-timeout>3</session-timeout>-->
  <!--</session-config>-->

</web-app>